body {
    font-family: sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    
    background-image: url("../images/background.jpg");
    background-size: cover;        /* 画面いっぱいに広げる */
    background-position: center;   /* 中央に配置 */
    background-repeat: no-repeat;  /* 繰り返さない */
    background-attachment: fixed;  /* スクロールしても固定（任意） */
}

h1 {
    color: black;
    font-size: 32px;
    text-align: center;
    margin-top: 20px;
}

.nav-buttons {
    margin-top: 10px;
}

.content img {
    width: 90%;
    height: auto;
    max-width: 1800px;
    border-radius: 8px;
}
@media (max-width: 600px) {
    .content {
        width: 90%;
    }
}

h2 {
    color: black;
    font-size: 32px;
    text-align: center;
    margin-top: 80px;
}

.content iframe {
    width: 100%;
    max-width: 600px;
    height: 315px;
    border: none;
}
@media (max-width: 600px) {
    .content iframe {
        height: 200px;
    }
}
